// -----------------------------------------------------------------------------
// Main Grid
// -----------------------------------------------------------------------------
%center-content {
	width: 100%;
	max-width: 1010px;
	margin: 0 auto;
	padding: 0 20px;

}
.inner {
	@extend %center-content;
}
#contents {
	@extend %center-content;
	display: flex;
	@include breakpoint(sp) {
		padding: 0 15px;
	}
}
#main {
	width: calc(100% - 300px);
	padding:0;
}